body {
    background-color:white;
}

/*  navigation section  */
.top {
    border: 1px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:cadetblue;
    top: 0px;
    /* position: fixed; */
}

.header {
    text-align: center;
    top: 0px;
}

/* navigation bar */
.navigation {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    border: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    top: 0px;
    /* position: fixed; */
}
  
/* Links inside the navigation section */
.navigation a {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 310px;
    text-decoration: none;
}
  
/* The dropdown section */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a background color to navbar links on hover */
.navigation a:hover, .dropdown:hover .dropbutton {
    background-color: burlywood;
}
  
/* Dropdown content (hidden by default) */
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdowncontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a background color to dropdown links on hover */
.dropdowncontent a:hover {
    background-color: burlywood;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {
    display: block;
}

.intro {
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color: white;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
}

.intro h3 {
    color: black;
}

.imageframe {
  border: 3px solid black;
  text-align: center;
  /* Haha */
  width: 474px;
}

.shareicon {
    width: 25px;
    height: 25px;
}

.editicon {
    width: 30px;
    height: 30px;
}

.imageoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
}

#image1frame {
    background-color: white;
    width: 474px;
    height: 600px;
}

#image3frame {
    width: 474px;
    height: 930px;
}

#image4frame {
    width: 474px;
    height: 735px;
}

#image5frame {
    width: 474px;
    height: 450px;
}

#image6frame {
    width: 474px;
    height: 610px;
}

#image7frame {
    width: 474px;
    height: 920px;
}

#image8frame {
    width: 474px;
    height: 550px;
}

#image9frame {
    width: 474px;
    height: 800px;
}

#image10frame {
    width: 474px;
    height: 1030px;
}

#image11frame {
    width: 474px;
    height: 800px;
}

#image12frame {
    width: 474px;
    height: 804px;
}

#image13frame {
    width: 474px;
    height: 930px;
}

#image16frame {
    width: 474px;
    height: 554px;
}

#image15frame {
    width: 474px;
    height: 794px;
}

.gallery {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   row-gap:40px;
   column-gap: 20px;
   flex-wrap:wrap;

   /* Haha */
   width: 1200px;
   width: 100%;
   margin: 0 auto 20px;
   align-items: flex-start;
   flex-basis: 10;
   justify-content: center;
   flex-flow:row wrap;
}

